@media screen and (max-width: 800px) {

  .navbar {
    padding: 0px !important;
    padding-left: 10px !important;
  }

  .navbar .navbar-brand {
    margin: 0;
  }

  .navbar-nav .nav-link {
    padding-right: 15px;
  }

  .nav-profile {
    height: 27.5px;
    width: 27.5px;
  }

  .col-md-7 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .container {
    padding: 7.5em 2em;
  }

  .navbar .dropdown.show .dropdown-menu {
    position: absolute !important;
    background-color: white;
  }

  .dropdown-menu  {
    left: -125px !important;
  }

  .card-header {
    display: table;
  }

  .poll-title {
    font-size: 20px !important;
    vertical-align: middle;
    display: table-cell;
    max-width: 80%;
    float: none !important;
    padding-left: 5px;
  }

  .poll-issuer {
    vertical-align: middle;
    float: none !important;
    margin-right: 12.5px !important;
    display: table-cell;
    height: auto;
    width: 50px;
  }

  .poll-details {
    font-size: 15px !important;
  }


}
