a {
  color: #017afc;
}

@media (min-width: 1366px)  {
  .col-md-7 {
    flex: 0 0 55%;
    max-width: 55%;
  }
}

@media (min-width: 1440px)  {
  .col-md-7 {
    flex: 0 0 52%;
    max-width: 52.5%;
  }
}

.navbar {
  background: #27293d;
  box-shadow: 0 0 17.5px 0 rgba(0, 0, 0, 0.425);
  left: inherit;
  right: inherit;
}

.navbar-logo {
  height: 50px;
  padding-bottom: 2.5px;
}

.nav-item {
  font-size: 17.5px;
}

.navbar-nav li i  {
  margin-left: 12.5px;
  font-size: 15px;
}

.vote-options {
  display: block;
  clear: both;
}

.btn + .btn {
  margin: 0;
}

.btn-simple {
  border-color: #d048b6!important;
  background-color: rgba(30, 30, 47, 0.25) !important;
  box-shadow: 0 .5px 2px .5px rgba(0, 0, 0, 0.2);
  color: #d048b6 !important;
  border-radius: 20px;
  border-width: 2px;
  padding: 10px 25px;
  width: 100%;
  margin: 15px auto;
}

.navbar-title {
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 10px;
}

.icon-header {
  font-size: 25px;
  padding: 12.5px;
  margin-right: 10px;
}

.container {
  padding: 7.5em 0em;
}
