#pink {
  color: #d048b6 !important;
}

.proposalComponent {
  position: relative;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.card .card-header .card-category  {
  font-size: 17.5px;
}

.poll-title {
  position: relative;
  font-size: 22.5px;
  font-weight: 200;
  color: white;
  clear: both;
}

a .card {
  color: #525f7f;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #27293d;
  color: white;
}

.modal-content .modal-body {
  line-height: normal;
}

.modal-body {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #9A9A9A;
  mix-blend-mode: normal;
  opacity: 0.8;
  align-self: center;
}

.modal-title {
  font-size: 25px;
  color: white !important;
  max-width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.10625px;
  mix-blend-mode: normal;
  opacity: 80%;
  flex: none;
  order: 0;
}

.poll-qr {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 12.5px;
  margin-left: 62.5px;
  margin-right: 62.5px;
}

.modal-body a {
  font-weight: 500;
}

.btn-verify {
  margin-left: auto !important;
}
