#pink {
  color: #d048b6 !important;
}

.poll {
  position: relative;
  padding-bottom: 1em;
  padding-top: .25em;
}

.card .card-header .card-category  {
  font-size: 17.5px;
}

.poll-title {
  mix-blend-mode: normal;
  padding-top: 2.5px;
  font-size: 25px;
  font-weight: 200;
  color: white;
  opacity: 0.8;
}

a .card {
  color: #525f7f;
}

.poll-qr {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 12.5px;
  margin-left: 62.5px;
  margin-right: 62.5px;
}

.poll-details {
  padding: 0px 12.5px 25px 12.5px;
  mix-blend-mode: normal;
  margin-top: -7.5px;
  font-size: 22.5px;
  font-weight: 300;
  color: white;
  opacity: 0.8;
}

.poll-profile {
  width: 37.5px;
  height: 37.5px;
  border-radius: 30px;
}

.poll-title .poll-issuer {
  display: block;
}

.poll-issuer {
  border: solid 2px rgba(255, 0, 0, 0);
  border-radius: 30px;
  margin-right: 25px;
  float: left;
}

.poll-details .icon-wallet-43 {
  margin-left: 25px;
}
