.profile-blockie {
  border-radius: 75px;
  width: 100px;
  height: 100px;
}

.profile-address .profile-blockie  {
  display: block;
}

.profile-address {
  position: relative;
  font-size: 22.5px;
  margin-right: 25px;
  float: right;
  clear: both;
}
