.profile-blockie {
  border-radius: 75px;
  width: 100px;
  height: 100px;
}

.profile-stats .profile-blockie  {
  display: block;
}

.profile-stats {
  position: relative;
  float: right;
  clear: both;
}

.profile-address {
  font-size: 22.5px;
  margin-right: 25px;
}
