.profile .card-body {
  padding: .5em;
}

.profile .card ul  {
  list-style: none;
  padding-bottom: -20px;
}

.profile .card li {
  transition: 0.35s;
}

.profile .card li:hover {
  color: #d048b6;
}

.profile .card li:before {
  content: "\2022";
  color: #d048b6;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.profile-blockie {
  border-radius: 75px;
  width: 75px;
  height: 75px;
}


a .profile-stats {
  display: block;
}

.profile-stats {
  position: relative;
  display: inline-block;
  color: #525f7f;
  float: right;
}

.profile-address {
  font-size: 17.5px;
  padding-bottom: 7.5px;
  color: white;
}

.profile-address a {
  color: white;
}

.profile-address a:hover {
  color: #d048b6;
}

.profile-stats .profile-stat {
  margin-right: 25px;
}

.profile-verified {
  color: #525f7f !important;
  padding-top: 12.5px;
  padding-bottom: 7.5px;
  font-weight: 400;
}
