
.main-container {
  padding-top: 64px;
}

.test-jg {
  max-width: 960px;
}


.jg-nav {
  height: 64px;
}

.jg-title {
  position: absolute;
  left: 30px;
  top: 22px;
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.10625px;
  color: #FFFFFF;
}

.icon-single-02 {
  position: absolute;

  top: 22px;
  right: 44px;
}

.title.proposal {
  /*font-family: Poppins;*/
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0.10625px;
  color: #FFFFFF;
}

.github-detail {
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.btn-simple.vote-yes {
  /* font-family: Poppins; */
  position: static;
  left: 2.67%;
  right: 2.67%;
  top: 52.38%;
  bottom: 30.74%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #E14ECA;
  border-radius: 20px;
  margin-left: 1px;
}

.btn-simple.vote-no {
  /* font-family: Poppins; */
  position: static;
  left: 1%;
  right: 2.67%;
  top: 76.19%;
  bottom: 6.93%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #E14ECA;
  border-radius: 20px;
  margin-left: 1px;
}
